.pt-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

.no-js .pt-triggers {
    display: none;
}

.no-js body {
    overflow: auto;
}

.pt-page-ontop {
    z-index: 999;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    padding-bottom: 84px;
}

#board {
    background: #fff;
}

#rules {
    background: #EC193A; /*#52D98C;*/
    padding: 45px 10px;
    color: #fff;
    overflow: auto;
}
#rules h3 {
    text-align: center;
    font-weight: bold;
}

#options {
    background: #3D3D3D; /*#01C0EC;*/ /*#2C97DF;*/ /* #95A5A5; */ /* #9C56B8; */ /*#34495E;*/
    padding: 40px 18px 10px 18px;
}
#options form > label {
    display: block;
    color: #fff;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

header {
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #F9FAF9;
    border-bottom: 1px solid #F3F4F3;
    font-weight: bold;
}

header > h2 {
    text-align: center;
    margin: 4px 0;
}
header > span {
    font-size: 0.5em;
    margin: 5px 0 0 0;
    padding: 4px 10px;
    color: #fff;
    background: orange;
    line-height: 26px;
    cursor: pointer;
}

footer {
    position: absolute;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #F9FAF9;
    border-top: 1px solid #F3F4F3;
    font-weight: bold;
}

footer ul#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
}

footer ul#nav li {
    display: inline;
}

footer ul#nav li a {
    text-decoration: none;
    display: block;
    width: 33.33%;
    color: #111;
    line-height: 38px;
    float: left;
    text-align: center;
}

.switch-toggle {
    height: 34px !important;
}
.switch-isolmoa {
    background-color: white;
}
.switch-isolmoa.switch-isolmoa-gray a {
    background-color: #95A5A5;
}
.switch-isolmoa.switch-isolmoa-blue a {
    background-color: #16B6F0;
}
.switch-isolmoa.switch-isolmoa-pink a {
    background-color: #F53791;
}
.switch-isolmoa input:checked + label {
    color: white;
}
